streamlit  # Adjust version based on your needs
pandas     # Adjust version based on compatibility
random             # Built-in module, not required in requirements.txt
regex    # For regular expression operations
gspread    # For Google Sheets API access
google-auth # For authentication with Google APIs
google-auth-oauthlib
